.myclassOne {
  font-size: 16px;
  color: aquamarine;
  background-color: brown;
  padding: 2px 5px
}
.myclassTwo {
  font-size: 12px;
  color: crimson;
  background-color: darkgoldenrod;
}
.myclassOne {
  font-size: 40px;
  color: darkviolet;
  background-color: teal;
}
.myclassOne {
  font-size: 100px;
  color: antiquewhite;
  background-color: rebeccapurple;
}
